<h3>Settings</h3>
<p>Only show birds that have been seen this <span style="color: #99FF00">many times:</span></p>
<form method="POST" action="">
<input type="text" name="minValue" id="minField" value={{minValue}}>
<br>
<input type="submit" class="submitButton">
</form>
<p><a href="/birds">(Back to Birds)</a></p>