<h3>Sightings</h3>
<ul>
{{#each birds}}
<li> <span style = "color: #99FF00"> {{this.birdWatched}} </span> x {{this.birdName}}</li>
{{/each}}
</ul>
<form method="POST" action="">
<input type="text" name="name">
<br>
<input type="submit" class="submitButton">
</form>
<p><a href = "/settings"> (My settings)</a></p>