<h1>Shoppy Shoperson</h1>
<h3>Create a new list</h3>
<form method='post' action=''>
Name: <input type='text' name='name' required> <br><br>
Created By: <input type='text' name='createdBy' required> <br><br>
<input type='submit' value='submit'>
</form><br>
