<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <p><a href="/list">All Lists</a> | <a href="/list/create">Create a New List</a></p>
  </body>
</html>
